body {
  background: #ddd;
}

.wrapper {
	margin: 0px 20px;
}

#content {
	/*margin-top: 60px;*/
	overflow: scroll;
	padding:10px 20px;
	background: #fff;
	border-radius: 2px;
}

#content:focus {
    outline: none;
}


.alert {
	font-size: .8em;
	padding: 2px 2px;
}
	.alert h4 {
		font-size: .9em;
	}

.tabs {
	margin-top: 40px;
	/*position: absolute;*/
	background: #ddd;
}

.tabs ul {
	margin-bottom: 0;
	margin-left: 10px;
}